

<footer id="footer">

  <div class="container clearfix">

    <div class="four columns">

      <div class="widget widget_text">

        <h3 class="widget-title">关于我们</h3>

        <div class="textwidget">

          <p>
            我们是ASer动漫社,我们正在努力的创造美好的社团未来,一切会更好!
          </p>

        </div><!--/ .textwidget-->

      </div><!--/ .widget-->

      <div class="widget widget_contacts">

        <div class="vcard">
          <span class="contact street-address">ASer动漫社一个线上社团 暂无具体地点</span>
          <span class="contact email">邮箱: aser_rt@qq.com</span>
        </div><!--/ .vcard-->

      </div><!--/ .widget-->


    </div><!--/ .four-->

    <div class="four columns">

      <div class="widget widget_recent_entries">

        <h3 class="widget-title">相关网站</h3>

      	<ul>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="https://www.bilibili.com/"><img src="../static/images/temp/bilibili.png" alt="" /></a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="https://www.bilibili.com/">哔哩哔哩</a></h6>
						<div class="entry-meta"><a href="https://www.bilibili.com/">bilibili，全称为哔哩哔哩弹幕网</a></div>
					</li>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="https://fgo.wiki/"><img src="../static/images/temp/mooncell.png" alt="" /></a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="https://fgo.wiki/">Mooncell</a></h6>
						<div class="entry-meta"><a href="https://fgo.wiki/">Mooncell是一个玩家自由构筑的Fate/Grand Order中文Wiki。
</a></div>
					</li>
					<li>
						<div class="bordered alignleft">
							<figure class="add-border">
								<a class="single-image" href="https://wiki.biligame.com/ys/%E9%A6%96%E9%A1%B5"><img src="../static/images/temp/genshin.png" alt="" /></a>
							</figure>
						</div><!--/ .bordered-->
						<h6><a href="https://wiki.biligame.com/ys/%E9%A6%96%E9%A1%B5">原神wiki</a></h6>
						<div class="entry-meta"><a href="https://wiki.biligame.com/ys/%E9%A6%96%E9%A1%B5">本WIKI由旅行者酒馆于2020年03月14日申请开通</a></div>
					</li>
				</ul>

      </div><!--/ .widget-->

    </div><!--/ .four-->



    <div class="four columns">

      <div class="widget widget_contact_form">

        <h3 class="widget-title">联系我们</h3>

        <form action="/" method="post">

          <p class="input-block">
            <label>姓名:</label>
            <input type="text" />
          </p>
          <p class="input-block">
            <label>邮箱:</label>
            <input type="text" />
          </p>
          <p class="input-block">
            <label>消息:</label>
            <textarea></textarea>
          </p>

          <p><button class="button default" type="submit">提交</button></p>

        </form>

      </div><!--/ .widget-->

    </div><!--/ .four-->

  </div><!--/ .container-->

</footer><!--/ #footer-->

<!-- - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->

<!-- - - - - - - - - - - - - Bottom Footer - - - - - - - - - - - - - - -->

