<!DOCTYPE html>
<!--[if IE 7]>					<html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>ASer</title>

	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut" href="../static/images/favicon.ico" />

	<link rel="stylesheet" href="../static/css/skeleton.css" media="screen" />
	<link rel="stylesheet" href="../static/css/style.css" media="screen" />
	<link rel="stylesheet" href="../static/css/sty.css"  />
	<link rel="stylesheet" href="../static/css/mediaelementplayer.css" media="screen" />
	<link rel="stylesheet" href="../static/fancybox/jquery.fancybox.css" media="screen" />

	<!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" href="../static/rs-plugin/css/settings.css" media="screen" />

	<!-- HTML5 SHIV + DETECT TOUCH EVENTS -->
	<script type="text/javascript" src="../static/js/modernizr.custom.js"></script>
</head>
<body class="color-1 h-style-1 text-1">

	<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->

    {% include 'header.html' %}

	<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->

	<!-- - - - - - - - - - - - - Slider - - - - - - - - - - - - - - - -->

	<div class="fullwidthbanner-container">

		<div class="fullwidthbanner">

			<ul>

				<!-- FADE -->
				<li data-transition="fade" data-slotamount="10">

					<img src="../static/images/slides/thumb1.jpg" alt="" data-thumb="images/thumbs/thumb1.jpg">

					<div class="caption sfb" data-x="150" data-y="-50" data-speed="900" data-easing="easeOutSine" data-start="500"><img src="../static/images/slides/Miku.png" alt=""></div>
					<div class="caption lfr" data-x="150" data-y="-50" data-speed="400" data-start="800"><img src="../static/images/slides/Miku.png" alt=""></div>
					<div class="caption sft big_black"  data-x="20" data-y="100" data-speed="900" data-start="1300" data-easing="easeOutBack">ASer</div>
					<div class="caption sft medium_black"  data-x="20" data-y="145" data-speed="900" data-start="1300" data-easing="easeOutBack">Welcome to join us!</div>
					<div class="caption sft small_text"  data-x="20" data-y="210" data-speed="900" data-start="1500" data-easing="easeOutBack">We are ASer Club,we can play with you happily.</div>
					<div class="caption sfb" data-x="20" data-y="320" data-speed="750" data-start="1900" data-easing="easeOutExpo"><a class="button dark small" href="#">Learn More</a></div>
				</li>

				<!-- SLIDEUP -->
				<li data-transition="slideup" data-slotamount="7" data-thumb="images/thumbs/thumb2.jpg">

					<img src="../static/images/slides/fgo.png" alt="">


				</li>

				<!-- SLIDELEFT -->
				<li data-transition="slideleft" data-slotamount="15" data-thumb="images/thumbs/thumb3.jpg">

					<img src="../static/images/slides/leimu.png" alt="">

					<div class="caption lft very_big_white"  data-x="80" data-y="200" data-speed="900" data-start="1200" data-easing="easeOutBack">Let's Go!</div>
				</li>

				<!-- SLIDERIGHT -->
				<li data-transition="slideright" data-slotamount="10" data-thumb="images/thumbs/thumb4.jpg">

					<img src="../static/images/slides/xixuegui.png" alt="">

					<div class="caption lfb boxshadow" data-x="20" data-y="80" data-speed="900" data-start="1300" data-easing="easeOutBack">

					</div>


				</li>

				<!-- SLIDEUP -->
				<li data-transition="slideup" data-slotamount="15" data-thumb="images/thumbs/thumb5.jpg">

					<img src="../static/images/slides/86.png" alt="">


                </li>

			</ul>

		</div><!--/ .fullwidthbanner-->

	</div><!--/ .fullwidthbanner-container-->

	<!-- - - - - - - - - - - - - end Slider - - - - - - - - - - - - - - -->


	<!-- - - - - - - - - - - - - - Main - - - - - - - - - - - - - - - - -->

	<section class="container">

		<!-- - - - - - - - - - - - - Holder - - - - - - - - - - - - - - -->

		<section class="holder clearfix">

			<div class="one-third column">

				<div class="detailimg">

					<div class="bordered">
						<figure class="add-border">
							<a class="single-image picture-icon" rel="holder" href="../static/images/story/2018.JPG"><img src="../static/images/story/2018.JPG" alt="" /></a>
						</figure>
					</div><!--/ .bordered-->

					<h5>封神</h5>

					<p>
						在诸位大佬的齐心努力的合作下,我们完成了冬日祭,这非常完美,我们也看到了更加美好的未来社团前景,我们还要继续创造美好的
                        大学生活!!
					</p>



				</div><!--/ .detailimg-->

			</div><!--/ .one-third-->
            <div class="one-third column">

				<div class="detailimg">

					<div class="bordered">
						<figure class="add-border">
							<a class="single-image picture-icon" rel="holder" href="../static/images/story/2019.jpg"><img src="../static/images/story/2019.jpg" alt="" /></a>
						</figure>
					</div><!--/ .bordered-->

					<h5>辉煌</h5>

					<p>
						在众多新人加入的情况下,我们实现了非常漂亮的冬日祭奠,我们做到了!我们也会更加努力,我们会把社团建立的更好!
                        我们正处于年轻时刻,我们正在享受繁华!
					</p>



				</div><!--/ .detailimg-->

			</div><!--/ .one-third-->
            <div class="one-third column">

				<div class="detailimg">

					<div class="bordered">
						<figure class="add-border">
							<a class="single-image picture-icon" rel="holder" href="../static/images/story/2020.jpg"><img src="../static/images/story/2020.jpg" alt="" /></a>
						</figure>
					</div><!--/ .bordered-->

					<h5>没落</h5>

					<p>
						 我们清楚了我们的弱小,前辈毕业之后,是我们举办的第一年,人手不够,是我们最为没落的一年,我们相信我们还会再度崛起!现在时间已经到来!到了
                        我们展示才华的时刻了!
					</p>



				</div><!--/ .detailimg-->

			</div><!--/ .one-third-->
			<div class="clear"></div>

		</section><!--/ .holder-->

		<!-- - - - - - - - - - - - end Holder - - - - - - - - - - - - - -->

		<!-- - - - - - - - - - - - - - - Bottom Sidebar - - - - - - - - - - - - - - - - -->

		<aside id="bottom-sidebar" class="clearfix">

			<div class="one-third column">

				<div class="widget widget_recent_entries">

					<h3 class="widget-title">动漫资讯</h3>

					<ul>
                        {% for i in range(0,2) %}
						<li>
							<h6><a href="{{ url_for('blog_detail',new_name=news[i]['name']) }}">{{ news[i]['name'] }}</a></h6>

							<div class="bordered alignleft">

								<figure class="add-border">
									<a class="single-image" href="{{ url_for('blog_detail',new_name=news[i]['name']) }}"><img src="{{ news[i]['img_path_small'] }}" alt="" /></a>
								</figure>

							</div><!--/ .bordered-->

							<p>
								{{ news[i]['introduction'] }}
							</p>
						</li>
					    {% endfor  %}
					</ul>

				</div><!--/ .widget-->

			</div><!--/ .one-third-->

			<div class="one-third column">

				<div class="widget widget_upcoming_events">

					<h3 class="widget-title">最近的事件</h3>

					<ul>
                        {% for i in range(0,3) %}
						<li>
							<div class="entry-meta">
								<span class="date">{{ activity[i]['day']}}</span>
								<span class="month">{{ activity[i]['month']}}</span>
							</div><!--/ .entry-meta-->

							<h6><a href="{{ url_for('event_detail',event_name=activity[i]['event']) }}">{{ activity[i]['event'] }}</a></h6>
							<span class="place">{{ activity[i]['location'] }}</span>
							<span class="time">{{ activity[i]['time'] }}</span>
						</li>
                        {% endfor %}

					</ul>

				</div><!--/ .widget-->

			</div><!--/ .one-third-->

			<div class="one-third column">

						<div class="one-third column">

				<div class="audio-player">
		<span class="artist">Artist</span>
		<span class="title">Title</span>
		<div class="progress-bar">
			<span class="progress"></span>
		</div>
		<span class="current-duration">0:00</span>
		<span class="duration">0:00</span>
		<input class="volume" type="range" min="0" max="100" value="40">
		<button class="prev"></button>
		<button class="play"></button>
		<button class="pause"></button>
		<button class="next"></button>
		<button class="list-btn"></button>
		<ul class="playlist" style="display:none">
			<li data-song="Imagine_Dragons_-_Radioactive.mp3"></li>
			<li data-song="Placebo_-_Buttle_for_the_sun.mp3"></li>
			<li data-song="Gary_Jules_-_Mad_World.mp3"></li>
			<li data-song="Linkin_Park_-_Numb.mp3"></li>
			<li data-song="Nickelback_-_How_You_Remind_M.mp3"></li>
			<li data-song="Nine_Lashes_-_Adrenaline.mp3"></li>
			<li data-song="Placebo_-_This_Picture.mp3"></li>
			<li data-song="Red_Hot_Chilli_Peppers_-_Otherside.mp3"></li>
			<li data-song="Sum41_-_Some_Say.mp3"></li>
		</ul>

				</div>

				</div><!--/ .widget-->

				<div class="widget-divider"></div>

				<div class="widget widget_video">

					<h3 class="widget-title">Featured Video</h3>

					<video width="300" height="160" style="width: 100%; height: 100%;" id="player1" poster="static/media/video.jpg" controls preload="none">
						<!-- MP4 source must come first for iOS -->
						<source type="video/mp4" src="static/media/amv.mp4" />


						<object width="300" height="160" type="application/x-shockwave-flash" data="../static/js/flashmediaelement.swf">
							<param name="movie" value="js/flashmediaelement.swf" />
							<param name="flashvars" value="controls=true&poster=static/media/echo-hereweare.jpg&file=media/amv.mp4" />
							<!-- Image fall back for non-HTML5 browser with JavaScript turned off and no Flash player installed -->
							<img src="media/echo-hereweare.jpg" width="300" height="160" alt="Here we are"
								title="No video playback capabilities" />
						</object>
					</video>

				</div><!--/ .widget-->

			</div><!--/ .one-third-->

		</aside><!--/ #bottom-sidebar-->

		<!-- - - - - - - - - - - - - end Bottom Sidebar - - - - - - - - - - - - - - - -->

	</section><!--/ .main -->

	<script src="../static/js/main.js"></script>
	<!-- - - - - - - - - - - - - end Main - - - - - - - - - - - - - - - - -->


	<!-- - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->

     {% include 'footer.html' %}

	<!-- - - - - - - - - - - - - - end Footer - - - - - - - - - - - - - - - -->

	<!-- - - - - - - - - - - - - Bottom Footer - - - - - - - - - - - - - - -->



	<!-- - - - - - - - - - - - - end Bottom Footer - - - - - - - - - - - - - -->

<!-- GET JQUERY FROM THE GOOGLE APIS -->
<script src="../static/js/jquery.min.js"></script>
<!--[if lt IE 9]>
	<script src="js/selectivizr-and-extra-selectors.min.js"></script>
<![endif]-->
<script src="../static/js/respond.min.js"></script>

 <!-- JQUERY KENBURN SLIDER  -->
<script src="../static/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script src="../static/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="../static/js/jquery.easing.1.3.js"></script>
<script src="../static/js/jquery.cycle.all.min.js"></script>
{#<script src="../static/js/mediaelement-and-player.min.js"></script>#}
<script src="../static/fancybox/jquery.fancybox.pack.js"></script>
<script src="../static/js/custom.js"></script>

</body>
</html>
