<!DOCTYPE html>
<!--[if IE 7]>					<html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if IE 9]>					<html class="ie9 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<title>Typography</title>
	
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut" href="../static/images/favicon.ico" />

	<link rel="stylesheet" href="../static/css/skeleton.css" media="screen" />
	<link rel="stylesheet" href="../static/css/style.css" media="screen" />
	<link rel="stylesheet" href="../static/css/mediaelementplayer.css" media="screen" />
	<link rel="stylesheet" href="../static/fancybox/jquery.fancybox.css" media="screen" />
	
	<!-- REVOLUTION BANNER CSS SETTINGS -->
	<link rel="stylesheet" href="../static/rs-plugin/css/settings.css" media="screen" />
	
	<!-- HTML5 SHIV + DETECT TOUCH EVENTS -->
	<script type="text/javascript" src="../static/js/modernizr.custom.js"></script>
</head>
<body class="color-1 h-style-1 text-1">
	
	<!-- - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - - -->	
	

	{% include'header.html' %}
	<!-- - - - - - - - - - - - - - end Header - - - - - - - - - - - - - - - - -->	
	
	<!-- - - - - - - - - - - - - - Page Header - - - - - - - - - - - - - - - -->		
	
	<section class="page-header">
		
		<div class="container">
			
			<h1>Typography</h1>
			
		</div><!--/ .container-->
		
	</section><!--/ .page-header-->
	
	<!-- - - - - - - - - - - - - end Page Header - - - - - - - - - - - - - - -->	

	<!-- - - - - - - - - - - - - - Main - - - - - - - - - - - - - - - - -->		
		
	<section class="main container sbr clearfix">	
		
		<!-- - - - - - - - - - Breadcrumbs - - - - - - - - - - - - -->		
		
		<div class="breadcrumbs">

			<a title="Home" href="index.html">Home</a>
			<span>Typography</span>

		</div><!--/ .breadcrumbs-->	
		
		<!-- - - - - - - - - end Breadcrumbs - - - - - - - - - - - -->	
		
		<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->
		 
		<section id="content" class="ten columns">

            <h1>H1 Lorem ipsum dolor sit amet</h1>
			
            <p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt 
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
			</p>
            
            <h2>H2 Lorem ipsum dolor sit amet</h2>
			
            <p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
			</p>
            
            <h3>H3 Lorem ipsum dolor sit amet</h3>
			
            <p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
			</p>
            
            <h4>H4 Lorem ipsum dolor sit amet</h4>
			
            <p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
			</p>
            
            <h5>H5 Lorem ipsum dolor sit amet</h5>
			
            <p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
			</p>
            
            <h6>H6 Lorem ipsum dolor sit amet</h6>
			
            <p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
				ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
				laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
			</p>	
			
			<div class="divider-top"><a href="#">Back to Top</a></div>
			
			<h4>Ordered Lists</h4>
			
			<div class="five columns alpha">
				
				<ul class="ordered type-1">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Cconsectetur adipisicing elit sed do eiusmod</li>
					<li>Tempor incididunt ut labore</li>
				</ul><!--/ .ordered-->
				
			</div><!--/ .five-->
			
			<div class="five columns omega">
				
				<ul class="ordered type-2">
					<li>Lorem ipsum dolor sit amet</li>
					<li>Cconsectetur adipisicing elit sed do eiusmod</li>
					<li>Tempor incididunt ut labore</li>
				</ul><!--/ .ordered-->
				
			</div><!--/ .five-->
			
			<div class="divider-top"><a class="link" href="#">Back to Top</a></div>
			
	        <h4>Unordered Lists</h4>
			
			<div class="five columns alpha">
				
				<ul class="list type-1">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-1--> 			
				
				<ul class="list type-2">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-2--> 			
				
				<ul class="list type-3">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-3--> 			
				
				<ul class="list type-4">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-4--> 			
				
				<ul class="list type-5">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-5--> 			
				
				<ul class="list type-6">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-6--> 			
				
				<ul class="list type-7">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-7-->
				
				<ul class="list type-8">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-8--> 				
				
			</div><!--/ .five-->
			
			<div class="five columns omega">
				
				<ul class="list type-9">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-9--> 	
				
				<ul class="list type-10">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-10--> 	
				
				<ul class="list type-11">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-11--> 	
				
				<ul class="list type-12">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-12--> 	
				
				<ul class="list type-13">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-13--> 	
				
				<ul class="list type-14">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-14--> 	
				
				<ul class="list type-15">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-15--> 	
				
				<ul class="list type-16">
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
				</ul><!--/ .type-16--> 	
				
			</div><!--/ .five-->
			
			<div class="divider-top"><a href="#">Back to Top</a></div>
			
			<h4>Paragraph with images</h4>
			
			<div class="bordered alignleft">
				<figure class="add-border">
					<a class="single-image" href="#"><img src="../static/images/temp/sample.jpg" alt="" /></a>
				</figure>
			</div><!--/ .bordered-->
			
			<p>
				Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit
				maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec tetuer malesuada. 
				Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi
				eturna. Aliquam erat volutpat. Duis turpis. Integer rutrum ante eu lacus consectetuer. 
			</p>
			
             <p>
				Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. 
				Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec tetuer malesuada. 
				Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi eturna. 
				Aliquam erat volutpat. Duis turpis. Integer rutrum ante eu lacus consectetuer umet lorem rutrum ante eu  doloronsec tetuer lorem doloronsec.
			 </p>
			 
			<div class="bordered alignright">
				<figure class="add-border">
					<a class="single-image" href="#"><img src="../static/images/temp/sample.jpg" alt="" /></a>
				</figure>
			</div><!--/ .bordered-->
			
			<p>
				Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. Adipiscing elit
				maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec tetuer malesuada. 
				Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi
				eturna. Aliquam erat volutpat. Duis turpis. Integer rutrum ante eu lacus consectetuer. 
			</p>
			
             <p>
				Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. 
				Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec tetuer malesuada. 
				Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi eturna. 
				Aliquam erat volutpat. Duis turpis. Integer rutrum ante eu lacus consectetuer umet lorem rutrum ante eu  doloronsec tetuer lorem doloronsec.
			 </p>
			
			<div class="divider-top"><a href="#">Back to Top</a></div>
			
	         <h4>Pullquotes</h4>
			 
             <p>
				Donec accumsan malesuada orcidonec sitmet eros lorem isum dolor amet incon. 
				Adipiscing elit maurise pharetra magna accumsan. Malesuada orcdonec umet lorem doloronsec tetuer malesuada. 
				Udipiscing elit mauris sifermentum. Tellus dolor, dapibus eget, elementum. Unean auctor wisi eturna. 
				Aliquam erat volutpat. Duis turpis. Integer rutrum ante eu lacus consectetuer umet lorem doloronsec tetuer lorem doloronsec.
			 </p>
	         
	         <blockquote>
				Unean auctor wisi eturna. Aliquam erat volutpat. Duis turpis. 
				Integer rutrum ante acus consect etuer. Adipiscing elit. Maurisfetun Duis ultricies pharetra magna.
	         </blockquote>
	          
	         <p>
				Tellus dolor, dapibus eget, elementum. Unean auctor wisi eturna. Aliquam erat volutpat. Duis turpis. 
				Integer rutrum ante eu lacus consectetuer.  Adipiscing elit. Maurisfetun Duis ultricies pharetra magna. Donec accumsan malesuada
				orci. Donec amet eros.  Lorem ipsum dolor amet. Consectetuer adipiscing elit. Mauris fermentum dictum magna. 
				Unean auctor wisi eturna. Aliquam erat volutpat.
			 </p>
	          
	        <blockquote class="quoteleft four columns">
                Unean auctor wisi eturna aliq erat volutpat. Integer rutrum ante eu lacus consectetuer.
	        </blockquote>
			 
	        <p>
				Adipiscing elit. Maurisfetun duis ultricies pharetra magna Donec accumsan malada orci. Donec amet eros.
				Lorem ipsum dolor consectetuer adipisc mauris ultricies pharetra magna duis ultricies pharetra magna.
			</p>
			
	        <div class="clear"></div>
	          
	        <blockquote class="quoteright four columns">
               Unean auctor wisi eturna aliq erat volutpat. Integer rutrum ante eu lacus consectetuer.
	        </blockquote>
			
	        <p>
				Adipiscing elit. Maurisfetun duis ultricies pharetra magna Donec accumsan malada orci. 
				Donec amet eros. Lorem ipsum dolor consectetuer adipisc mauris ultricies pharetra magna
				duis ultricies pharetra magna pharetra.
			</p>
			
			<div class="divider-top"><a class="link" href="#">Back to Top</a></div>	
			
		</section><!--/ #content-->
		
		<!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
		
		<!-- - - - - - - - - - - - - Sidebar - - - - - - - - - - - - - - - - - -->	
		
		<aside id="sidebar" class="one-third column">
			
			<div class="widget widget_search">
				
				<form action="/" method="post" id="searchform">
					
					<fieldset>
						
						<input type="text" />
					
						<button type="submit" title="Search">Search</button>	
					
					</fieldset>
					
				</form><!--/ #searchform-->
				
			</div><!--/ .widget-->
			
			<div class="widget widget_categories">
				
				<h3 class="widget-title">Features</h3>
				
				<ul>
					<li><a href="typography.html">Typography</a></li>
					<li><a href="features-testimonials.html">Testimonials</a></li>
					<li><a href="features-toggle.html">FAQ Toggle</a></li>
					<li><a href="features-notifications.html">Notifications</a></li>
					<li><a href="features-buttons.html">Buttons</a></li>
					<li><a href="columns.html">Column Layout</a></li>
					<li><a href="single-page-with-right-sidebar.html">Right Sidebar Page</a></li>
					<li><a href="single-page-with-left-sidebar.html">Left Sidebar Page</a></li>
					<li><a href="single-page-full-width.html">Full Width</a></li>
					<li><a href="features-tabs.html">Tabs</a></li>
				</ul>
				
			</div><!--/ .widget-->
			
			<div class="widget widget_text">
				
				<h3 class="widget-title">About The Theme</h3>
				
				<div class="textwidget">
					
					<p>
						 Lorem ipsum dolor sit amet, consectetur adipisc ing elit. Nulla iaculis aliquet augue,
						 eu varius purus sollicitudin eget. Donec tellus nunc, sollicitudin eu congue tempor,
						 dapibus et metus. Fusce ac ipsum at magna accumsan scelerisque sed non dolor. Mauris
						 consectetur laoreet feugiat. 
					</p>
					
				</div><!--/ .textwidget-->

			</div><!--/ .widget-->

		</aside><!--/ #sidebar-->
		
		<!-- - - - - - - - - - - - - end Sidebar - - - - - - - - - - - - - - - -->				
	
			
	</section><!--/ .main -->

	<!-- - - - - - - - - - - - - end Main - - - - - - - - - - - - - - - - -->			
		
	
	<!-- - - - - - - - - - - - - - - Footer - - - - - - - - - - - - - - - - -->	
	

	{% include'footer.html' %}

<!-- GET JQUERY FROM THE GOOGLE APIS -->
<script src="../static/js/jquery.min.js"></script>
<!--[if lt IE 9]>
	<script src="js/selectivizr-and-extra-selectors.min.js"></script>
<![endif]-->
<script src="../static/js/respond.min.js"></script>
<script src="../static/js/jquery.easing.1.3.js"></script>
<script src="../static/js/jquery.cycle.all.min.js"></script>
<script src="../static/js/mediaelement-and-player.min.js"></script>
<script src="../static/fancybox/jquery.fancybox.pack.js"></script>
<script src="../static/js/custom.js"></script>

</body>
</html>
